body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  body {
  background-color: #b3e5fc;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
.textLeft {
  text-align: left;
}
.loadingDiv {
  height: 100vh;
  display: grid;
  place-items: center;
}
.card {
  width: 450px;
  height: 408px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}
.image {
  min-width: 155px;
  margin-right: 20px;
}
.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
}
.articles {
  font-size: 10px;
  color: #a1aab9;
}
.number1 {
  font-weight: 500;
}
.followers {
  font-size: 10px;
  color: #a1aab9;
}
.number2 {
  font-weight: 500;
}
.rating {
  font-size: 10px;
  color: #a1aab9;
}
.number3 {
  font-weight: 500;
}

.card-box{
  display: flex;
  padding-top: 50px;
}